In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Historical data for Bitcoin.csv')

In [3]:
df.shape

(2567, 7)

In [4]:
df.head()

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,"May 07, 2020","9,261.90","9,992.66","9,138.32","9,951.52","61,112,700,562","182,787,376,637"
1,"May 06, 2020","9,007.44","9,411.47","8,966.71","9,268.76","49,371,886,931","170,229,620,935"
2,"May 05, 2020","8,912.83","9,062.41","8,856.83","9,003.07","43,148,462,663","165,332,488,792"
3,"May 04, 2020","8,895.74","8,956.91","8,645.02","8,912.65","45,718,796,276","163,654,493,632"
4,"May 03, 2020","8,983.61","9,167.78","8,830.97","8,897.47","47,101,785,174","163,358,189,151"

In [5]:
# change date format to YYYY-mm-DD
df["Date"] = pd.to_datetime(df["Date"]).dt.strftime('%Y-%m-%d')

In [6]:
df.head()

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,2020-05-07,"9,261.90","9,992.66","9,138.32","9,951.52","61,112,700,562","182,787,376,637"
1,2020-05-06,"9,007.44","9,411.47","8,966.71","9,268.76","49,371,886,931","170,229,620,935"
2,2020-05-05,"8,912.83","9,062.41","8,856.83","9,003.07","43,148,462,663","165,332,488,792"
3,2020-05-04,"8,895.74","8,956.91","8,645.02","8,912.65","45,718,796,276","163,654,493,632"
4,2020-05-03,"8,983.61","9,167.78","8,830.97","8,897.47","47,101,785,174","163,358,189,151"

In [7]:
#remove comma from price value
df['Open*'] = df['Open*'].str.replace(',','')
df['Open*'] = df['Open*'].astype('float64').round(2)

df['High'] = df['High'].str.replace(',','')
df['High'] = df['High'].astype('float64').round(2)

df['Low'] = df['Low'].str.replace(',','')
df['Low'] = df['Low'].astype('float64').round(2)

df['Close**'] = df['Close**'].str.replace(',','')
df['Close**'] = df['Close**'].astype('float64').round(2)

df['Volume'] = df['Volume'].str.replace(',','')
df['Volume'] = df['Volume'].astype('float64').round(2)

df['Market Cap'] = df['Market Cap'].str.replace(',','')
df['Market Cap'] = df['Market Cap'].astype('float64').round(2)

In [8]:
df.head()

         Date    Open*     High      Low  Close**        Volume    Market Cap
0  2020-05-07  9261.90  9992.66  9138.32  9951.52  6.111270e+10  1.827874e+11
1  2020-05-06  9007.44  9411.47  8966.71  9268.76  4.937189e+10  1.702296e+11
2  2020-05-05  8912.83  9062.41  8856.83  9003.07  4.314846e+10  1.653325e+11
3  2020-05-04  8895.74  8956.91  8645.02  8912.65  4.571880e+10  1.636545e+11
4  2020-05-03  8983.61  9167.78  8830.97  8897.47  4.710179e+10  1.633582e+11

In [9]:
df.isnull().sum()

Date          0
Open*         0
High          0
Low           0
Close**       0
Volume        0
Market Cap    0
dtype: int64

# There is no any missing value in the column from crawled data. Hence, there is no any extra step to proceed

In [10]:
df.to_csv('Historical data for Bitcoin_processed.csv')

In [11]:
df.dropna(how='any')

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,2020-05-07,9261.90,9992.66,9138.32,9951.52,6.111270e+10,1.827874e+11
1,2020-05-06,9007.44,9411.47,8966.71,9268.76,4.937189e+10,1.702296e+11
2,2020-05-05,8912.83,9062.41,8856.83,9003.07,4.314846e+10,1.653325e+11
3,2020-05-04,8895.74,8956.91,8645.02,8912.65,4.571880e+10,1.636545e+11
4,2020-05-03,8983.61,9167.78,8830.97,8897.47,4.710179e+10,1.633582e+11
...,...,...,...,...,...,...,...
2562,2013-05-02,116.38,125.60,92.28,105.21,0.000000e+00,1.168517e+09
2563,2013-05-01,139.00,139.89,107.72,116.99,0.000000e+00,1.298955e+09
2564,2013-04-30,144.00,146.93,134.05,139.00,0.000000e+00,1.542813e+09
2565,2013-04-29,134.44,147.49,134.00,144.54,0.000000e+00,1.603769e+09
2566,2013-04-28,135.30,135.98,132.10,134.21,0.000000e+00,1.488567e+09